* {
  /* outline: 1px solid red;
  outline-offset: -1px; */
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  min-width: 900px;
}

body > header,
body > nav,
body > main,
body > footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  border: 0px;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.common-container {
  width: 900px;
  margin: 0 auto;
}

header {
  /* border-bottom: 1px solid #000; */
  background: #212121;
}

header > div.common-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div.common-container > span > a {
  font-size: 2em;
}

header > div.common-container > ul {
  display: flex;
  font-size: 1.8em;
}

header > div.common-container > ul > li {
  margin-left: 10px;
  cursor: pointer;
}

nav > ul {
  display: flex;
  justify-content: center;
  background: #212121;
  /* border-top: 1px solid #616161; */
  border-bottom: 1px solid #616161;
  color: #fff;
}

nav > ul > li {
  padding: 10px 20px;
  background: #212121;
  border-left: 3px solid #111111;
}

nav > ul > li:last-child {
  border-right: 3px solid #111;
}

main {
  background: #cfcfcf;
  color: black;
  padding: 20px 0;
  flex-grow: 1;
}

.mainArea {
  width: 100%;
  background: #000;
}

.post {
  margin: 0 auto;
  width: 500px;
}

.photoSet .slideshow {
  width: 500px;
  background: white;
  display: block;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slideshow .slide {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.slideshow .slide img {
  max-width: 100%;
  width: auto;
  height: 100%;
}

.slideshow .slide .caption {
  background: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0.25em;
  opacity: 0.6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.6em;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  text-shadow: rgba(200, 200, 200, 0.6) 1px 1px 1px;
}

.slideshow .slide:hover .caption {
  opacity: 1;
}

footer {
  background: #212121;
  color: white;
  font-size: 0.7em;
  border-top: 1px solid #616161;
}

footer > div.common-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div.common-container > span:first-child {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 5px 0;
}

footer > div.common-container > span:first-child > span {
  margin-right: 20px;
}

footer > div.common-container > span:first-child > span > div {
}

footer > div.common-container > span:nth-child(2) > a {
  font-size: 2em;
}

footer > div:nth-child(2) {
  /* border-top: 1px solid #616161; */
  padding: 5px 0;
  background: #000;
}
