* {
  outline: 1px solid red;
  outline-offset: -1px;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  min-width: 1130px;
}

body > div#background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-image: url('../img/background.png');
  background-repeat: no-repeat; */
  background: black;
}

body header,
body nav,
body main,
body footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  border: 0px;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

h1.title {
  padding: 150px 0 50px 0;
  font-size: 6em;
}

h2.sub-title {
  font-size: 2em;
  padding: 0 0 30px 0;
}

h2.sub-title-3 {
  font-size: 2em;
  text-align: center;
}

h3.sub-title-2 {
  text-align: center;
  font-size: 1.4em;
}

table {
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid #757575;
  border-collapse: collapse;
  vertical-align: center;
  text-align: center;
}

th img {
  vertical-align: top;
}

td {
  font-size: 0.8em;
  padding: 0 20px;
}

td.no-lr {
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  padding: 20px 0 10px 0;
}

td a:link,
td a:visited,
td a:hover,
td a:active {
  color: #494949;
}

div.paragraph-title {
  padding: 10px;
}

div.content-main-container > div {
  margin: 50px 0 0 0;
}

div#paragraph-android-team > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

div#paragraph-android-team > div:nth-child(2) img {
  max-width: 100%;
}

div#paragraph-android-team > div:nth-child(2) > span:nth-child(2) {
  text-align: center;
  width: 50px;
}

div#paragraph-android-team > div:nth-child(3) {
  padding: 10px;
}

div#paragraph-android-alone > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

div#paragraph-android-alone > div:nth-child(2) img {
  max-width: 100%;
  width: 450px;
  height: 380px;
  margin: 0 20px;
}

div#paragraph-android-alone > div:nth-child(2) {
  padding: 10px;
}

.common-container {
  width: 1130px;
  margin: 0 auto;
}

header div.common-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div.common-container > span > a {
  font-size: 2em;
}

header div.common-container > ul {
  display: flex;
  font-size: 1.8em;
}

header div.common-container > ul > li {
  margin-left: 10px;
  cursor: pointer;
}

main {
  color: black;
  padding: 20px 0;
  flex-grow: 1;
}

main > div.common-container {
  padding: 5px;
  color: white;
}

main > div.common-container > div.content-top-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

main > div.common-container > div.content-main-container {
  min-width: 700px;
  margin: 0 auto;
  text-align: left;
}
